[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
selenium = "*"
pytest-xdist = "*"
pytest-bdd = "*"
pytest-html = "*"
webdriver-manager = "*"

[requires]
python_version = "3.10"
